# These variables are read by BlackArch Forensic Console at startup.
# Do NOT place database passwords here. Configure ~/.pgpass inside Arch/BlackArch WSL instead.
BLACKARCH_PGHOST=127.0.0.1
BLACKARCH_PGPORT=5432
BLACKARCH_PGDATABASE=postgres
BLACKARCH_PGUSER=postgres
